<div class="body">
  <h2>Center</h2>

  <mat-card *ngFor="let center of authService.centers">
    <mat-card-header>
      <mat-card-title>{{ center.name }}</mat-card-title>
      <mat-card-subtitle
        >Created on
        {{
          center.dateCreated.toMillis() | date: 'MMM dd, yyyy'
        }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <h2>Members</h2>
      <div
        *ngIf="centerService.members; then membersExist; else noMembers"
      ></div>
      <ng-template #membersExist>
        <div class="table-row" *ngFor="let member of centerService.members">
          {{ member.name }}
        </div>
      </ng-template>
      <ng-template #noMembers
        ><h1>This center currently has no members.</h1></ng-template
      >
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="routeToCreate(center.id)"
        >
          Add member
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
