<div class="body">
  <div class="container">
    <h2>Centers</h2>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let center of centerService.centers">
        <mat-expansion-panel-header>{{
          center.name
        }}</mat-expansion-panel-header>
        <h3>Admins</h3>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="actions">
      <button mat-raised-button color="primary" (click)="navigateToCreate()">
        Create center
      </button>
    </div>
  </div>
</div>
